name: flutter_sip2
description: A Flutter plugin for SIP (Session Initiation Protocol) communication using PJSIP library.
version: 2.0.1+101

homepage: https://github.com/telon-org/flutter_sip2

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  plugin:
    platforms:
      android:
        package: org.tele.flutter_sip2
        pluginClass: FlutterSip2Plugin
